In [1]:
!pip install  pyodbc

Requirement already satisfied: pyodbc in c:\users\newton\projects\environment\lib\site-packages (4.0.39)

In [3]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.0

In [4]:
#Data handling
import pyodbc
import pandas as pd
import numpy as np
import os

In [ ]:
#Reading the second set of the dataset from a remote database

# creating the server instance variable 
server = 'dap-projects-database.database.windows.net'
database = 'dapDB'
username = 'dataAnalyst_LP2'
password = 'A3g@3kR$2y'

# This an f string that includes all the variable above to extablish a connection to the server
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [ ]:
# use the connect method of the pyodbc library and pass in the connection string. This will connect to the server and might
# take a few seconds to be complete. Check your internet connection if takes more time than necessary

connection = pyodbc.connect(connection_string)

In [ ]:
# Now the sql query to get the data is what what you see below. Note that you will not have permissions to insert 
# delete or uodate this database table. dbo.LP2_Telco_churn_first_3000 is the name of the table. The dbo 
# in front of the table is a naming convention in Microsoft SQL Server

query = "Select * from dbo.LP2_Telco_churn_first_3000"
data2 = pd.read_sql(query, connection)